- if @results
  .container
    .jumbotron
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
      <div class="container">
  <h2>Tour listings</h2>
  <p>The .table-bordered class adds borders to a table:</p>            
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

javascript:
      $(function () {
        var chart = new Highcharts.Chart({
            chart: {
                type: 'column',
                renderTo: 'container',
                  events: {
                    drillup: function (e) {
                    chart.xAxis[0].setCategories(#{{@results.categories}})
                    chart.yAxis[0].setTitle({'text':'# of tours'})
                    chart.setTitle({ text: 'Number of Tours by Country and Category'})
                    
                }
            } 
            },
            title: {
                text: 'Number of Tours by Country and Category'
            },
            subtitle: {
                text: 'Source: lonelyplanet.com'
            },
            xAxis: {
            categories: #{{@results.categories}}
            },
            yAxis: {
                min: 0,
                title: {
                    text: '# of tours'
                }
            },
            
            plotOptions: {
                column: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                var drilldown = this.drilldown
                                  chart.xAxis[0].setCategories(true)
                                  chart.yAxis[0].setTitle({'text':'Tour price ($)'})
                                  chart.setTitle({ text: 'Breakdown of Tours based on Price by Country and Category'})
                                }
                            }
                        }
            },
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                }
            }
            },
            series: #{{@results.series}},

            drilldown:{
                series: #{{@results.drilldown}}
               }
             });
        });


