/* Override Bootstrap CSS */
body {
    min-height: 50px;
    background-color: white;
    color:black;
    /*padding-top: 70px;*/
}

a, a:focus {
    outline: none;
}

/* Menu bar */
.navbar-default .navbar-text {
    color: #23527C;
}

.navbar-text {
  margin-top:20px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.nav, .nav-tabs
{

}

.navbar, .navbar-default{
    background-color: white;
    border: none;
}

/* Override material-design components */
label.control-label {
    color: black;
}

.panel-body {
    padding: 15px; 
}

.checkbox label, .radio label, label {
    font-size: 12px;
    line-height: 1.42857;
    color: black;
    font-weight: 400;
}

.irs-min, .irs-max {
    color: black;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    top: 0px;
    padding: 1px 3px;
    background: #E1E4E9 none repeat scroll 0% 0%;
    border-radius: 4px;
}

.irs-grid-text {
    color: black;
}

.checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    overflow: hidden;
    z-index: 1;
}


.panel-default > .panel-heading {
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
}
/*
.navbar-default .navbar-nav > li > a {
    color: white;
    outline: none;
}

.navbar-brand {
	  float: right;
    height: 20px;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 10px;
    outline: none;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #63B8FF;
    background-color: transparent;
}

.navbar-default {
    background-color: black;
    border-color: #E7E7E7;
}
*/

.jumbotron {
    /*padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 500px; /* custom sized div */
    /*margin-left: auto; /* added to center custom sized div */
    /*margin-right: auto; /* added to center custom sized div */
    color: black;
    background-color: black; /* #CAE1FF;*/
    text-align: center;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #DDD;
    text-align: center;
    font-weight: bold;
}

.form-control {
  color:black;
    
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  /* background-color: #f5f5f5;*/
  outline:none;
  text-align: center;
}

div.flash {
  text-align: center;
  color: red;
}

.brand-img{
  width: 90px;
}

.centered{
  float:none;
  margin:0 auto;
}

